*{
    font-family: 'Raleway', sans-serif;
}

#bloc_page{
    max-width: 1400px;
    
}

body{
    display: flex;
    justify-content: center;
}

header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
       
    
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    
    
    
    
    
    
                            
}

nav{
    width: 45%;
    
}
   

ul a{
    text-decoration: none;
    border: 1px solid black
    
    
}

#logo{
    width: 120px;
    height: 50px;
    
    
}

.parentbarrenav{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 400px;
    border-radius: 10px;
    border: 2px solid #f2f2f2;
}

.iconposition{
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.recherche{
    height: 50px;
    width: 230px;
    color: black;
    font-weight: bold;
    border-style: none;

}

.button{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
}

#filtre{
    display: flex;
    align-items: center;
    margin-top: 40px;
    
}

#margtitrefiltre{
    margin-right: 20px;
}

.filtretexteicons{
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    height: 50px;    
    display: flex;
    align-items: center;
    margin-right: 20px;


}

.filtreicons{
    background-color: #deebfd;
    border-radius: 26px;
    color: #0065FC;
    height: 53px;
    width: 53px;
    margin-left: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.filtretexte{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 0px 25px 25px 0px;
}

.filtretexte:hover{
    color: #0065FC;
}

.filtreicons:hover{
    background-color: #0065FC;
    color: white;
}

.iconinfo{
    display: flex;
    align-items: center;
}

.info{
    color: #0065FC;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}











