*{
    font-family: 'Raleway', sans-serif;
}

#bloc_page{
    max-width: 1400px;
    
}

body{
    display: flex;
    justify-content: center;
}

header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;     
    
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
                   
                            
}

   

ul a{
    text-decoration: none;
    padding-right: 40px;
    color: black;
    padding-left: 40px;
                    
}

li a:hover{
    padding-top: 23px;
    border-top: 2px solid #0065FC;
    color: #0065FC;
    font-weight: bold;
    
    
    
}

#logo{
    width: 120px;
       
}

.entete, h1{
    font-size: 20px;
}

.enfantbarrenav{
    display:flex;
    text-align: inherit;
    width: 30%;
    
    
}

.iconposition{
    background: #F2F2F2;
    border: 1px #F2F2F2 solid;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 15px 0 0 15px;
    padding-top: 7px;
    padding-bottom: 10px;
    
    
}

input{
    background: transparent;
    border: 1px #F2F2F2 solid;
    padding: 11px 5vw;
    margin-left: -48px; 
    border-radius: 15px 0 0 15px;
   
}

::placeholder{
    font-weight: bold;
    color: black;
}
    
    

.button{
    display: flex;
    align-items: center;
    font-weight: bold;  
    background: #0065FC;
    border: 1px #0065FC solid;
    border-radius: 0 15px 15px 0;
    color: #FFF;
    height: 43px;
    padding: 0px 15px;
}



    
    


#filtre{
    display: flex;
    align-items: center;
    margin-top: 40px;
    
}

#margtitrefiltre{
    margin-right: 20px;
}

.filtretexteicons{
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    height: 50px;    
    display: flex;
    align-items: center;
    margin-right: 20px;


}

.filtreicons{
    background-color: #deebfd;
    border-radius: 26px;
    color: #0065FC;
    height: 53px;
    width: 53px;
    margin-left: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.filtretexte{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 0px 25px 25px 0px;
}

.filtretexte:hover{
    color: #0065FC;
}

.filtreicons:hover{
    background-color: #0065FC;
    color: white;
}

.iconinfo{
    display: flex;
    align-items: center;
}

.info{
    color: #0065FC;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}







.hebergementetpopulaire img{
    height: 84px;
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0 0;
    
}

.hebergementetpopulaire{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}

.hebergementfondgris{
    background: #F2F2F2;
    border-radius: 20px;
    padding: 30px 25px;
    margin-bottom: 20px;
    width: 60%;
}

.casehebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
}

.backgroundwhite{
    width: 31%;
    background: #FFF;
    padding: 5px;
    border-radius: 20px;
    margin: 0 0 30px 0;
    box-shadow: 0px 0px 10px #55555538;
    cursor: pointer;
    transition: transform .2s;
    height: 168px;
}

.casetexte{
    padding: 10px 15px 15px 15px;
    position: relative; 
             
}

.casetexte h3{
    margin: 0px;
    font-size: 13px;
}

.casetexte p{
    font-size: 13px;
}



.fondgrispopulaires{
    background: #F2F2F2;
    border-radius: 20px;
    padding: 30px 25px;
    margin-bottom: 20px;
    flex-direction: column;
    width: 27%;   
    
}

.titreeticone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fondgrispopulaires article{
    width:100%;
    display: flex; 
    margin-bottom: 50px;           
}


.populairestexte{
    flex-direction: column;
    padding-left: 15px;
    padding-top: 10px;  
    width: 46%;  
       
}

.populairestexte h3{
     font-size: 14px;
     margin-bottom: 0px;

}

.populairestexte p{
    font-size: 13px;
    margin: 0px;
    

}

.spacebetween{


}


.fondgrispopulaires img{           
    object-fit: cover;
    width: 37%;
    height: 165px;
    border-radius: 20px 0 0 20px
    
}

.backgroundwhitepopulaires{
    background-color: white;
    border-radius: 20px;
}


.hebergementfondgris p{
    margin: 8px 0px 8px 0px;
}

.stars{
    display:flex;
    color: #0065FC;
}

.etoilegris{
    opacity: 0.40;
    color: lightgray;
}

.padding{
    padding: 6px;
}

section h2{
    font-size: 21px;
}


   






.sizeactivités{
    font-size: 21px;
}

.activitésàmarseille h3{
    font-size: 14px;
}



.blocactivités{
    width: 100%;
}

.flexbetween{
    display: flex;
    justify-content: space-between;
}

.portetcalanque{
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    
}

.pomegueetfrioul{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    
}

.notredameetlongchamp{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    
}

.blocactivitéspomegueetfrioul{
    width: 23%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blocactivitésnotredametlongchamp{
    width: 23%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.activitésimg1{
    object-fit: cover;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}

.activitésimg2{
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}

.activitésimg3{
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.activitésimg4{
    object-fit: cover;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}

.activitésimg5{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

.activitésimg6{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

.activitésàmarseille{
    margin-bottom: 50px;
}





footer{
    background-color: #f2f2f2;
    width:100%;
}

.footerfondgris{
    display: flex;
    padding: 32px 32px;
}

.textefooter{
    width: 30%;   
}

.weightandsize{
    font-weight: bolder;
    font-size: 14px;
}

.textefooter p{
    font-size: 12px;
}
    

















